.searchbarRow{
justify-content: center;
}
.noOp{
    opacity: 100;
}
.text{
    font-family: "Papyrus";
    text-align: center;
    font-weight: bold;    
}

li{
    list-style: none;

}

@media(min-width: 575px) {
    ul{
        padding-inline-start: 0px!important;
    }
}
